:root {
  --toastify-color-light: #ffffff;
  --toastify-color-dark: #292929;
  --toastify-color-info: #5b4bc2;
  --toastify-color-success: #03750c;
  --toastify-color-warning: #f57c00;
  --toastify-color-error: #b71c1c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.774);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-background: #d9d9d9;
  --toastify-toast-min-height: 70px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Poppins;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #292929;
  --toastify-text-color-dark: #d9d9d9;

  --toastify-toast-width: 100%;

  /* //Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #d9d9d9;

  /* // Used when no type is provided
    // toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast-body {
  font-size: 18px;
  font-weight: 400;
  /* line-height: 22px; */
  /* margin: auto 0;
  flex: 1 1 auto; */
  /* padding: 6px; */
  display: flex;
  align-items: center;
}

.Toastify__toast-icon {
  -webkit-margin-end: 15px;
  margin-inline-end: 15px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
  font-family: helvetica, arial, sans-serif;
}

.Toastify__close-button {
  outline: none;
  border: none;
  padding: 2px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s ease;
  align-self: center;
}

@media (min-width: 900px) {
  :root {
    --toastify-toast-width: 400px;
  }
}
